{% extends 'base.html.twig' %}

{% block title %}Détails du Transfert{% endblock %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">
                                <i class="material-icons opacity-10 me-2">swap_horiz</i>
                                Détails du Transfert
                            </h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-4">
                            <table class="table align-items-center mb-0">
                                <tbody>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder">ID</th>
                                        <td class="px-4">{{ transfert.idtr }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder">Utilisateur</th>
                                        <td class="px-4">{{ transfert.idu }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder">Ancienne Équipe</th>
                                        <td class="px-4">{{ transfert.ancienneEquipe }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder">Nouvelle Équipe</th>
                                        <td class="px-4">{{ transfert.nouvelleEquipe }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder">Montant</th>
                                        <td class="px-4">{{ transfert.montantt }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder">Date</th>
                                        <td class="px-4">{{ transfert.datet ? transfert.datet|date('Y-m-d') : '' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer p-3 d-flex justify-content-between">
                        <a href="{{ path('app_transfert_index') }}" class="btn btn-outline-secondary">
                            <i class="material-icons text-sm me-2">arrow_back</i> Retour à la liste
                        </a>
                        <div>
                            <a href="{{ path('app_transfert_edit', {'idtr': transfert.idtr}) }}" class="btn btn-outline-primary me-2">
                                <i class="material-icons text-sm me-2">edit</i> Modifier
                            </a>
                            {{ include('transfert/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}